body {
  margin: 0;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  width: 100vw;
  height: 100vh;
}
.rhap_time {
  color: white;
}
.twitter-picker {
  display: flex;
  position: fixed !important;
  padding: 10px;
  background: #262626;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  z-index: 10000;
  transition: 0.2s all;
  padding: 0;
  margin-top: 10px;
  margin-left: 11px;
}

::-webkit-scrollbar {
  background-color: #babac0;
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #babac0;
}
::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
}
::-webkit-scrollbar-button {
  display:none;
}